.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-box {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        min-width: 300px;
        text-align: center;
            h2 {
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
            }
            button {
                margin-top: 15px;
                background-color: rgba(29, 37, 95, 0.997);
                color: white;
                padding: 10px;
                width: 50px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background-color:rgba(50, 61, 149, 0.997) ;
                }
            }
        }
}